/*Example 3.10*/
.axis path,
.axis line {
    fill: none;
    stroke: black;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 0.9em;
}

/*Example 3.13*/
.title {
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}