.map {
    border: medium solid #999;
    margin: 10px 0 0 20px;
}

.countries {
    fill: #fff;
    stroke: #CCC;
    stroke-width: 2px;
}


.gratLines {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
}

.gratBackground {
    fill: #D5E3FF;
}

.regions {
    stroke: #000;
    stroke-width: 0.5px;
    stroke-linecap: round;
}

.numbers {
    fill: white;
    font-family: sans-serif;
}

.chart {
    float: right;
    margin: 7px 20px 0 0;
}

.chartTitle {
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

.chartBackground {
    fill: rgba(128,128,128,.2);
}

.chartFrame {
    fill: none;
    stroke: #999;
    stroke-width: 3px;
    shape-rendering: crispEdges;
}

.axis path,
.axis line {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 0.8em;
    fill: #999;
}

/*Example 1.2*/
.dropdown {
    position: absolute;
    top: 30px;
    left: 40px;
    z-index: 10;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 2px;
    border: 1px solid #999;
    box-shadow: 2px 2px 4px #999;
}

option {
    font-weight: normal;
}

/*Example 2.8*/

.infolabel {
    position: absolute;
    height: 50px;
    min-width: 100px;
    color: #fff;
    background-color: #000;
    border: solid thin #fff;
    padding: 5px 10px;
}

.infolabel h1 {
    margin: 0 20px 0 0;
    padding: 0;
    display: inline-block;
    line-height: 1em;
}

/*Example 2.11*/

.infolabel {
    margin: 0 20px 0 0;
    position: absolute;
    height: 50px;
    min-width: 100px;
    color: #fff;
    background-color: #000;
    border: solid thin #fff;
    padding: 5px 10px;
    top: -75px;
}


